@use "../../variables" as v;

.banner {
  position: relative;
  z-index: 1;
  margin-top: -96px;
  height: 90vh;
  width: calc(100% + v.$space-lg);

  .dark_back {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, black, transparent);
  }

  .image {
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: v.$space-md;
    color: v.$main-color;
    position: absolute;
    max-width: 50%;
    left: v.$space-lg;
    bottom: v.$space-lg;
  }
}

@media (max-width: 1000px) {
  .banner {
    height: 60vh;

    .info {
      left: v.$space-s;
      bottom: v.$space-s;
      gap: v.$space-sm;
      max-width: 70%;
    }
  }
}
