$text-color: #454648;
$main-color: #fbf8f4;
$green: #1e453d;
$red: #cd5053;
$gray: #ebe9e7;
$border-color: #c8c8c8;

$space-xs: 8px;
$space-sm: 16px;
$space-s: 24px;
$space-md: 32px;
$space-lg: 64px;

$text-s: 16px;
$text-sm: 24px;
$text-md: 32px;
$text-lg: 48px;

$header-height: 96px;

$border-radius: 12px;
