@use "variables" as v;

* {
  box-sizing: border-box;
}

body {
  background-color: v.$main-color;
  color: v.$text-color;
  font-family: manrope, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding-top: v.$header-height;
}

a {
  color: v.$text-color;
}

h1 {
  font-size: v.$text-lg;
  font-weight: 900;
}

h2 {
  font-size: v.$text-md;
  font-weight: 700;
}

h3 {
  font-size: v.$text-sm;
  font-weight: 600;
}

h4 {
  font-size: v.$text-s;
  font-weight: 600;
}

p {
  font-size: v.$text-s;
  line-height: 1.2;
}

main {
  margin: 0 v.$space-lg;
}

button {
  padding: v.$space-xs v.$space-s;
  cursor: pointer;
  border-radius: v.$border-radius;
  background-color: v.$main-color;
  border: 1px solid v.$border-color;
  color: v.$text-color;

  &:hover {
    background-color: v.$green;
    color: v.$main-color;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: v.$text-md;
  }

  h2 {
    font-size: v.$text-sm;
  }

  h3 {
    font-size: v.$text-s;
  }

  h4 {
    font-size: v.$text-xs;
  }

  p {
    font-size: v.$text-xs;
  }

  main {
    margin: 0 v.$space-md;
  }
}
