@use "../variables" as v;

.catalog {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: v.$space-s;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: v.$space-sm;

    .item {
      position: relative;
      width: 100%;
      height: fit-content;

      .favorite {
        position: absolute;
        top: v.$space-sm;
        right: v.$space-sm;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 25px;
        height: 25px;
        padding: 0;

        .image {
          pointer-events: none;
          background-image: transparent;
          object-fit: contain;
        }
      }
    }
  }
}
