@use "../../variables" as v;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$space-md v.$space-lg;
  height: v.$header-height;
  box-sizing: border-box;

  .logo {
    font-size: v.$text-sm;
  }

  .list {
    display: flex;
    gap: v.$space-s;
  }

  .link {
    &.active,
    &:hover {
      color: v.$green;
      border-bottom: 2px solid v.$green;
      border-radius: 6px;
      padding-bottom: 3px;
    }
  }

  &.dark {
    background: linear-gradient(black, transparent);
    color: v.$main-color;
    margin: 0;

    .logo {
      color: inherit;
    }

    .link {
      color: inherit;

      &.active,
      &:hover {
        color: v.$green;
      }
    }
  }
}
